<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array/>
	<key>CFBundleDisplayName</key>
	<string>IsiTrello</string>
	<key>CFBundleIdentifier</key>
	<string>com.groupeisia.isitrello</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<string>YES</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImage.launchimage</string>
	<key>MinimumOSVersion</key>
	<string>9.3</string>
</dict>
</plist>
