<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Clé identifiant l'application auprès de Trello-->
    <add key="TrelloClientKey" value="9d5acc78ee6f89e35a61b9cd2102fa2a" />
    <!--Jetons Utilisateur DSI-Isia, authorisant l'accès aux tableaux Isi (CoIndus ) : 697dc9c21b8daa5999b114efbc1e12150db770f83b7f361c4cafedf84b2b9e90-->
    <add key="TrelloUserToken" value="6a15f893244b3290090b6bd8ff2d2d0b0a75315a2e47f4447ca351de58839071" />
    <!-- Identifiant de l'application auprès de l'Azure Active Directory -->
    <add key="AzureClientID" value="349d87b0-96a5-4764-96fa-28c60c5275bb" />
    <!--Domaine sur lequel l'application appelle la page d'authentification de l'AD -->
    <add key="AzureAPIRessource" value="https://login.microsoftonline.com/groupe-isia.com" />
    <add key="AzureRedirectUri" value="http://groupe-isia.com" />
  </appSettings>
</configuration>